/* styles.css */
.user-message {
    text-align: left;
    background-color: #8ab1db;
}


.received-message {
    text-align: left;
    background-color: #e5ffe5;
}

.image-container {
    text-align: center; /* Center align the content within the container */
}

.custom-image-size {
    width: 420px; /* Set the desired width */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 20px; /* Add space at the bottom */
}
.image-container img {
    max-width: 100%; /* Set the maximum width of the images to 100% of their container */
    height: auto; /* Maintain the aspect ratio */
    margin: 10px; /* Add margin to create space between images and text */
    padding : 10px;
}


.center-block.custom-image-size {
    width: 420px; /* Set the desired width */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 20px; /* Add space at the bottom */
    
}

#welcomeMessage, .message {
    font-family: 'Roboto', sans-serif; 
    font-size: 20px; 
    
}

p{
    line-height: 2.5;
    font-size: 18px;
}

