/* styles.css */
.user-message {
    text-align: left;
    background-color: #8ab1db;
}


.received-message {
    text-align: left;
    background-color: #e5ffe5;
}

.image-container {
    margin-top: 50px; /* Adjust the margin based on your design */
}

/* Style the image with custom size */
.custom-image-size {
    width: 420px; /* Set the desired width */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 20px; /* Add space at the bottom */
}

#welcomeMessage, .message {
    font-family: 'Roboto', sans-serif; 
    font-size: 16px; 
}

p{
    line-height: 2.5;
    font-size: 18px;
}

